<!-- <h1><%= title %></h1>
<p>Welcome to <%= title %></p> -->
<div class='hero-unit'>
	<h1>欢迎来到 microblog</h1>
	<p>microblog是一个基于node.js的微博系统</p>
	<p>
		<a class='btn btn-primary btn-large' href="/login">登录</a>
		<a class='btn btn-large' href="/reg">立即注册</a>
	</p>
</div>

<div class='row'>
	<div class="span4">
		<h2>carbo 说</h2>
		<p>未若柳絮因风起， 扶摇直上九万里</p>
	</div>
	<div class="span4">
		<h2>guokk 说</h2>
		<p>未若柳絮因风起， 扶摇直上九万里</p>
	</div>
</div>