<form class='form-horizontal' method='post'>
	<fieldset>
		<legend>用户注册</legend>
		<div class="control-grop">
			<label class='control-label' for='username'>用户名</label>
			<div class="controls">
				<input type="text" name="username" id='username' class='input-xlarge'>
				<p class="help-block">您的账号名称，用于登录展示</p>
			</div>
		</div>
		<div class="control-grop">
			<label class='control-label' for='password'>密码</label>
			<div class="controls">
				<input type="password" name="password" id='password' class='input-xlarge'>
			</div>
		</div>
		<div class="control-grop">
			<label class='control-label' for='password-repeat'>再次确认密码</label>
			<div class="controls">
				<input type="password" name="password-repeat" id='password-repeat' class='input-xlarge'>
			</div>
		</div>
		<div class="form-actions">
			<button type='submit' class="btn btn-primary">注册</button>
		</div>
	</fieldset>
</form>